{%  extends 'base.html' %}

{% block content %}
<h1> CATALOGUE </h1>
<form method="get" action="{% url 'catalog' %}">
    {{ filter_form }}
    <button type="submit">Filtrer</button>
</form>

{%if user.is_authenticated %}
<a href="{% url 'add_product' %}">Ajouter un nouveau produit</a>
{%endif%}

{% for product in products%}
    <h2> {{ product.name }}</h2>
    <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="max-width: 250px;">
    {%if user.is_authenticated %}
    <a href="{% url 'product' slug=product.slug %}"> Voir l'article </a>
    <h3>€{{ product.price }}</h3>
    {% endif %}

{% endfor %}

{% endblock %}