{% extends 'base.html' %}

{% block content %}

<div class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Catalogue</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Decouvrez tous nos articles ! </p>
                </div>
            </div>
</div>

<div class="container mt-5 ">


    <form method="get" action="{% url 'catalog' %}">
        {{ filter_form }}
        <button type="submit" class="btn btn-primary">Filtrer</button>
    </form>

    {% if user.is_authenticated %}
        <div class="d-flex justify-content-end mb-4 mt-4">
            <a href="{% url 'add_product' %}" class="btn btn-success">Ajouter un nouveau produit</a>
        </div>
    {% endif %}

    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card {% if product.in_promotion %}bg-danger text-white{% endif %}">
                    <img src="{{ product.thumbnail.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                    <span class="badge bg-primary">{{ product.get_category_display }}</span>
                    <p class="card-text {{ product.price_style }}">{{ product.price }} €</p>
                        <p class="card-text"> Description : {{ product.description }}</p>
                        {% if user.is_authenticated %}
                            <a href="{% url 'product' slug=product.slug %}" class="btn btn-outline-dark">Voir l'article</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
