{% extends 'base.html' %}

{% block content %}

 <div class="masthead text-center h-1">
            <div class="container d-flex align-items-center flex-column">
                <a href="{% url 'index' %}" class="logo-container"><img src="/media/Mercadona.png" alt="MERCADONA" style="max-width: 1000px;"></a>

                <h3 class="masthead-subheading font-weight-light mb-0">Accedez plus facilement à nos produits en promotion !</h3>

            </div>
        </div>
<div>
    <br><br><br><br><br><br>

</div>
{% endblock %}
