{% extends 'base.html' %}

{% block content %}

    <h2>{{ product.name }}</h2>
    <h3>
        {% if product.promotion %}
      <span class="promo-price"><strong>{{ product.promo_price }}€</strong></span>
            {% else %}
        {{ product.price }}€
        {% endif %}
    </h3>
    <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="max-width: 250px;">
    <p>{{ product.description }}</p>
    <p>{{ product.category }}</p>

  <h2>Appliquer une promotion à {{ product.name }}</h2>
  
  <form method="post" action="{% url 'promotion_view' slug=product.slug %}" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Appliquer la promotion</button>
  </form>


  <p>
    {% if product.promotion %}
      <span class="promo-price"><strong>{{ product.promo_price }}</strong></span>
    {% endif %}
  </p>

{% endblock %}