{%  extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="center" id="center">
        <h1>Espace administrateur</h1>
        <form method="POST">
    {%  csrf_token %}
            <div class="text-field">
                <input id=username type="text" name="username" required>
                <span></span>
                <label for="username">Nom d'utilisateur</label>
            </div>
                <div class="text-field">
                    <input id=password type="password" name="password" required>
                    <span></span>
                    <label for="password">Mot de passe</label>
                </div>
                <button type="submit">Se connecter</button>
            </form>
    </div>
    <script src="{% static 'app.js' %}"></script>
{% endblock %}
